<h1>Lunch Roulette</h1>

<p>Lunch is at noon. Meet at the cashier's desk after getting your lunch. Sign up before 11am to get lunch today.</p>

<form method="post" action="/">

	<label for="email">Email</label>
	<input type="text" name="email" />

	<input type="submit" value="Get Lunch" />

</form>